In [1]:
#Student management system
class Student:
    def __init__(self, code, name, dateofbirth, speciality):
        self.c = code
        self.n = name
        self.dob = dateofbirth
        self.s = speciality
    def infor(self):
        print(f'Mã sinh viên: {self.c}')
        print(f'Tên sinh viên: {self.n}')
        print(f'Ngày sinh: {self.dob}')
        print(f'Chuyên ngành: {self.s}')
        print('-----------------------')

In [2]:
class Student_List():
    def __init__(self,liststd):
        self.l = liststd
    def see(self):
        for i in self.l:
            i.infor()
    def add(self,stud):
        self.l.append(stud)
    def remove(self,stud):
        self.l.remove(stud)
    def find(self,key_word):
        for i in self.l:
            for val in i.__dict__.values():
                if key_word == val:
                    i.infor()
    def sort(self):
        sorted(self.l,key = lambda x:list(x.__dict__.values())[1],reverse = False)
        for i in self.l:
            i.infor()

In [3]:
ds = []
a = Student(100,'Ta Khanh Ngoc', '10/12/2003','Kế toán')
b = Student(101,'Ta Van Minh', '11/02/2002','Kiểm toán')
c = Student(102,'Kha Banh','09/02/1993','Ca sĩ')
d = Student(103,'Kimmie','10/04/1996','Diễn viên')
e = Student(104,'Eimi Fukada','18/03/1998','Diễn viên')
db = Student_List(ds)
db.add(a)
db.add(b)
db.add(c)
db.add(d)
db.add(e)

In [6]:
db.see()

Mã sinh viên: 100
Tên sinh viên: Ta Khanh Ngoc
Ngày sinh: 10/12/2003
Chuyên ngành: Kế toán
-----------------------
Mã sinh viên: 101
Tên sinh viên: Ta Van Minh
Ngày sinh: 11/02/2002
Chuyên ngành: Kiểm toán
-----------------------
Mã sinh viên: 102
Tên sinh viên: Kha Banh
Ngày sinh: 09/02/1993
Chuyên ngành: Ca sĩ
-----------------------
Mã sinh viên: 103
Tên sinh viên: Kimmie
Ngày sinh: 10/04/1996
Chuyên ngành: Diễn viên
-----------------------
Mã sinh viên: 104
Tên sinh viên: Eimi Fukada
Ngày sinh: 18/03/1998
Chuyên ngành: Diễn viên
-----------------------

In [7]:
db.remove(b)
db.see()

Mã sinh viên: 100
Tên sinh viên: Ta Khanh Ngoc
Ngày sinh: 10/12/2003
Chuyên ngành: Kế toán
-----------------------
Mã sinh viên: 102
Tên sinh viên: Kha Banh
Ngày sinh: 09/02/1993
Chuyên ngành: Ca sĩ
-----------------------
Mã sinh viên: 103
Tên sinh viên: Kimmie
Ngày sinh: 10/04/1996
Chuyên ngành: Diễn viên
-----------------------
Mã sinh viên: 104
Tên sinh viên: Eimi Fukada
Ngày sinh: 18/03/1998
Chuyên ngành: Diễn viên
-----------------------

In [4]:
db.find('Diễn viên')

Mã sinh viên: 103
Tên sinh viên: Kimmie
Ngày sinh: 10/04/1996
Chuyên ngành: Diễn viên
-----------------------
Mã sinh viên: 104
Tên sinh viên: Eimi Fukada
Ngày sinh: 18/03/1998
Chuyên ngành: Diễn viên
-----------------------

In [4]:
db.sort()

Mã sinh viên: 100
Tên sinh viên: Ta Khanh Ngoc
Ngày sinh: 10/12/2003
Chuyên ngành: Kế toán
-----------------------
Mã sinh viên: 101
Tên sinh viên: Ta Van Minh
Ngày sinh: 11/02/2002
Chuyên ngành: Kiểm toán
-----------------------
Mã sinh viên: 102
Tên sinh viên: Kha Banh
Ngày sinh: 09/02/1993
Chuyên ngành: Ca sĩ
-----------------------
Mã sinh viên: 103
Tên sinh viên: Kimmie
Ngày sinh: 10/04/1996
Chuyên ngành: Diễn viên
-----------------------
Mã sinh viên: 104
Tên sinh viên: Eimi Fukada
Ngày sinh: 18/03/1998
Chuyên ngành: Diễn viên
-----------------------